# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Arquivos de build
dist/
build/

# Arquivos de teste
coverage/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operacional
.DS_Store
Thumbs.db